[submodule "public"]
	path = public
	url = git@github.com:tingqiu814/tingqiu814.github.io.git
	branch = master
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
